.container ul{
    display: flex;
    list-style: none;
    align-items: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-left: 0;
    flex-wrap: wrap;
}
.container ul li{
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.activeClass{
    color:var(--primary-color);
  
}
@media(max-width:768px){
    .container ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }
    .container ul li{
        justify-self: start;   
    }
}